imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@UserBundle/Resources/config/services.yml" }
    - { resource: "@ForumBundle/Resources/config/services.yml" }
    - { resource: "@ArticleBundle/Resources/config/services.yml" }
    - { resource: "@NewsletterBundle/Resources/config/services.yml" }
    - { resource: "@AssociationBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
        resources: ['bootstrap_3_layout.html.twig']
    form_themes:
            # other form themes
            - 'VichUploaderBundle:Form:fields.html.twig'

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

vich_uploader:
    db_driver: orm
    mappings:
        article_image:
            uri_prefix:         /article
            upload_destination: %kernel.root_dir%/../web/public/img/article

            inject_on_load:     false
            delete_on_update:   true
            delete_on_remove:   true
            namer:              namer.media_file
            directory_namer:    namer.dir_name
        archive_fichier:
            uri_prefix:         /archives
            upload_destination: %kernel.root_dir%/../archives

            inject_on_load:     false
            delete_on_update:   false
            delete_on_remove:   true
            namer:              namer.archive_file
            directory_namer:    namer.archive_name

fm_elfinder:
    instances:
        default:
            locale: %locale% # defaults to current request locale
            editor: ckeditor # other options are tinymce, tinymce4, form, custom and simple
            fullscreen: true
            theme: smoothness # jquery theme
            include_assets: true
            connector:
                debug: false
                binds:
                  upload.presave:
                  - Plugin.AutoResize.onUpLoadPreSave
                plugins:
                  AutoResize: # global resize options, applies to root which don't have his own resize configuraion
                    enable: true
                    maxWidth: 500
                    maxHeight: 500
                    quality: 95 # JPEG image save quality
                roots:       # at least one root must be defined
                    uploads:
                        show_hidden: false
                        driver: LocalFileSystem
                        path: uploads/img/filemanager
                        plugins:
                          AutoResize:
                            enable: true
                            maxWidth: 500
                            maxHeight: 500
                            quality: 95 # JPEG image save quality
                        upload_allow: ['image/png', 'image/jpg', 'image/jpeg']
                        upload_deny: ['all']
                        upload_max_size: 2M
                    resize1:
                        driver: LocalFileSystem
                        path: uploads/img/filemanager
                        plugins:
                          AutoResize:
                              enable: true
                              maxWidth: 500 # Path to Water mark image
                              maxHeight: 500 # Margin right pixel
                              quality: 95 # JPEG image save quality
                        upload_allow: ['image/png', 'image/jpg', 'image/jpeg']
                        upload_deny: ['all']
                        upload_max_size: 2M
                    resize2:
                        driver: LocalFileSystem
                        path: uploads/img/filemanager
                        plugins:
                          AutoResize:
                            enable: true
                            maxWidth: 500
                            maxHeight: 500
                            quality: 95
                        upload_allow: ['image/png', 'image/jpg', 'image/jpeg']
                        upload_deny: ['all']
                        upload_max_size: 2M

ivory_ck_editor:
    default_config:                     my_custom_config    # Utiliser par defaut la configuration my_custom_config
    configs:
        my_custom_config:
            filebrowserBrowseRoute: elfinder
            filebrowserBrowseRouteParameters: []
            language:                   %locale%
            toolbar:                    standard            # Charger la toolbar tollbar_1 (voir plus bas)
            stylesSet:                  my_styles           # Chargement des styles personnalisables my_styles (voir plus bas)
            uiColor:                    "#FCFCFC"           # Couleur de fond de l'interface
            height:                     '600px'             # Hauteur par défaut
            # Utiliser les styles css suivants dans le contenu de l'éditeur. Permet de voir le rendu en temps réeem
            contentsCss:                ['bundles/app/css/style.css']
    styles:         # Configuration des styles personnalisables
        my_styles:
            - { name: "Alerte Success", element: "div",  attributes: { class: "alert alert-success", role: "alert" }}
            - { name: "Alerte Info", element: "div",  attributes: { class: "alert alert-info", role: "alert" }}
            - { name: "Alerte Warning", element: "div",  attributes: { class: "alert alert-warning", role: "alert" }}
            - { name: "Alerte Danger", element: "div",  attributes: { class: "alert alert-danger", role: "alert" }}
            - { name: "Badge", element: "span",  attributes: { class: "badge" }}

gregwar_captcha: ~
