# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    namer.media_file:
        class: ArticleBundle\Entity\Uploader
        tags:
            - { name: namer }
    namer.dir_name:
        class: ArticleBundle\Entity\DirNamer

    namer.archive_name:
        class: AssociationBundle\Entity\ArchiveNamer
    namer.archive_file:
        class: AssociationBundle\Entity\ArchiveUploader
        tags:
            - { name: namer }
    article.twig.extension:
            class: ArticleBundle\Twig\Extension\UrlDecoder
            tags:
                -  { name: twig.extension }
    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }
