{% extends 'base.html.twig' %}

{% block title %}
    Modifier son profil
{% endblock %}

{% block section %}
    <h1>Changer son profil</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Editer" />
    {{ form_end(edit_form) }}

{% endblock %}
