{% extends 'base.html.twig' %}

{% block section %}
    <h1>Événements</h1>
        {% for event in events %}
                {{ event.title }}
                {{ event.description }}
                {% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}
                {% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}
                <br/>
        {% endfor %}
{% endblock %}