/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject
/.idea
../.idea/*
/web/public/img/article/*
/app/sqlite.db.cache
/src/UserBundle/Tests
/app/config/config_test.yml
/coverage
/archives/*
/web/uploads/img/filemanager/*
