{% extends 'base.html.twig' %}

{% block body %}
    <h1>Newsletter - envoi</h1>

    <table>
        <thead>
            <tr>
                <th>personnes</th>
                <th>status</th>
             </tr>
        </thead>
        <tbody>
        {% for check in checked %}
            <tr>
                <td>{{ check }}</td>
                <td><img src="{{ asset('public/img/check.png') }}"/></td>
             </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newsletter_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
