<p>Bonjour !!</p>

<p>Vous recevez ce message après votre demande d'inscription !</p>
<p>Celle-ci sera étudiée et vous serez contacté dans les plus bref delais </p>

<p>En attendant, n'hésitez pas à naviguer sur le site :</p>
<a href="{{ path('index') }}">EHS</a>
