{% extends 'base.html.twig' %}

{% block section %}
    <h1>Salut</h1>
    <p>Bien vivre ensemble ! Telle est la devise qui nous anime plus que jamais aujourd’hui,
        nous qui nous enrichissons chaque jour au contact de nos proches et de nos amis
        qui vivent avec un handicap! Nous vivons une période où ces valeurs de fraternité et
        d’accueil des différences prennent tout leur sens. Nous avons souhaité parler d’une
        seule voix et faire connaître les difficultés rencontrées, les bonheurs partagés, la vraie
        vie, par la parole des personnes handicapées elles-mêmes, de leurs proches, de
        leurs soignants, de ceux qui construisent concrètement notre société pour bien vivre
        ensemble, de ceux qui nous aident à mettre des mots sur ce que nous vivons.
    </p>
    <p>
        Nous avons souhaité cheminer avec vous dans cette réflexion éthique et avons voulu
        que cette rencontre citoyenne Éthique et Handicap soit la première d’un rendezvous
        annuel qui se veut être un temps fort de la construction concrète du bien vivre
        ensemble.
    </p>
    <p>
        Portée par l’association Éthique, Handicap et Société, cette démarche se traduira
        également par des temps de rencontres culturelles. Cette journée se veut être un
        moment de partage, d’échange et de fête. En effet, nous avons la chance d’accueillir
        Philippe Pozzo di Borgo, de nous réjouir de voir et revoir avec lui le film Intouchables,
        inspiré de sa vie, qui clôturera cette première rencontre citoyenne Éthique et Handicap.
        Professeur Françoise Ballereau
        Présidente du Gneds
    </p>
{% endblock %}