{% extends 'base.html.twig' %}

{% block section %}

<div class="bg"></div>

<section>
      <div class="row">
        <h1 class="text-center"><i class="icon-fire icon-3x"></i></h1>
        <h1 class="text-center"><strong>ENSEMBLE</strong></h1>
        <p class="lead text-center">Ut enim ad minim veniam</p>
      </div>
      <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <h1>Ethique</h1>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h1>Handicap</h1>
              <p>
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h1>Société</h1>
              <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            </div>
          </div>
    </div>
</section>

<section>

  <div class="container">

  	<hr>



      <div class="row">
        {% for article in articles %}






<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
          <img class="img-responsive" src="{{ asset('public/img/Articles/Article_'~article.dateArticle| date('d_m_y')~'/'~article.imageName ) }}" alt="">
              <div class="overlay">
                  <h2>{{article.titreArticle}}</h2>
  				<p>
  					<a href="{{path('article_show',{'id':article.id})}}">{{article.titreArticle}}</a>
  				</p>
              </div>
      </div>
  </div>






{% endfor %}
    </div>

  </hr></div>









</section>

<section>

</section>

<section>
  <div class="row">
    <div class="text-center">
      <a href="http://www.bootply.com"><i class="icon-facebook icon-3x"></i> </a> &nbsp;
      <a href="http://twitter.com/bootply"><i class="icon-twitter icon-3x"></i></a> &nbsp;
      <a href="http://pinterest.com/in1"><i class="icon-pinterest icon-3x"></i></a>
    </div>
  </div>
</section>
{% endblock %}
