<p>Bonjour {{ user.username }} !!</p>

<p>Vous recevez ce message car votre inscription sur le site de l'association
EHS a bien été pris en compte !</p>
<p>Vous pouvez dès à présent vous connecter en suivant ce lien :</p>
<a href="{{ path('login') }}">Se connecter</a>