{% extends 'base.html.twig' %}

{% block title %}
    Bureau
{% endblock %}

{% block section %}
    <div class="panel panel-default block-mentions">
      <div class="panel-heading">
            <h2>Le bureau</h2>
          </div>
      <div class="content-mentions">
          <ul>
              <li>GUILLOSSOU Michèle</li>
              <li>BALLEREAU Françoise</li>
              <li>PERROUIN VERBE Brigitte</li>
              <li>RICOT Jacques</li>
              <li>HAMONIC Philippe</li>
              <li>JEANTEUR Magali</li>
          </ul>

</div></div>
{% endblock %}