{% extends 'base.html.twig' %}

{% block title %}
    Le conseil d'administration
{% endblock %}

{% block section %}
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="panel panel-default">
  <div class="panel-heading">Qui sommes-nous?</div>
    <div class="panel-body">


  <!-- Team Members Row -->
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">L'équipe</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://www.lesfameuses.com/uploads/cache/crop/a1a282de7f2dbe6c74dab25677e2c938/514c0f93351bf.jpg" width="200" alt="">
          <h3>Michèle GUILLOSSOU
              <small>Présidente</small>
          </h3>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" width="200" alt="">
          <h3>Françoise BALLEREAU
              <small>Vice-présidente</small>
          </h3>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" width="200" alt="">
          <h3>Brigitte PERROUIN VERBE
              <small>Vice-présidente</small>
          </h3>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" width="200" alt="">
          <h3>Jacques RICOT
              <small>Vice-président</small>
          </h3>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" width="200" alt="">
          <h3>Magali JEANTEUR
              <small>Trésorière</small>
          </h3>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" width="200" alt="">
          <h3>Marc LE FORT
              <small>Trésorièr ajoint</small>
          </h3>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" width="200" alt="">
          <h3>Jacqueline TOUMINET
              <small>Secrétaire</small>
          </h3>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" width="200" alt="">
          <h3>Philippe HAMONIC
              <small>Secrétaire ajoint</small>
          </h3>
      </div>

  </div>
</div>  </div> </div></div>
{% endblock %}
