{% extends 'base.html.twig' %}

{% block title %}
    Presentation
{% endblock %}

{% block section %}
<div class="wrapper">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Presentation de l'association</div>
                <div class="panel-body">
                    <div class="container">
    <ul>
    <li>
        Nous sommes une association Loi 1901 née de la volonté de rapprocher les personnes souffrant de handicap avec les personnes valides pour favoriser le « bien vivre ensemble » en
        organisant la réflexion sur la question du rapport entre l’éthique, le handicap et la société, en offrant au public de Nantes et de son espace métropolitain, voire régional et/ou national, intéressé par ce sujet, la possibilité de bénéficier des réflexions et des débats qui animent les professionnels de la santé, des sciences humaines et l’ensemble des citoyens.

    </li>
    <li>
        Elle développera en outre une série de rencontres visant à favoriser la diffusion de la réflexion au plus grand nombre ainsi qu’un programme d’actions culturelles et sportives.
    </li>
    <li>
        Plus généralement, elle pourra assurer directement ou indirectement toutes autres activités visant à favoriser la réalisation de son objet social. (Extrait des statuts)

    </li>
    </ul>
    <p>
        À notre connaissance il n’existe pas d’association concurrente ni par la constitution de sa gouvernance ni par son objet.
        En effet le corps médical est largement représenté 5 personnes sur 8. Un philosophe, une assistante sociale et une chef d’entreprise culturelle, tous trois en retraite complètent le conseil d’administration.

    </p>
{% endblock %}
