{% extends 'base.html.twig' %}

{% block title %}
    Statuts
{% endblock %}

{% block section %}
  <div class="panel panel-default block-mentions">
    <div class="panel-heading">
      <h2>Les statuts de l'association</h2>
    </div>

    <div class="content-mentions">
      <p>rra at dui in, eleifend ornare ligula. Quisque sagittis scelerisque odio non faucibus. Suspendisse ut tristique quam. Donec in velit commodo, dignissim magna id, accumsan orci. Aliquam porttitor arcu in ipsum molestie, vitae gravida sem posuere. Morbi sem mi, consequat suscipit lacus ut, viverra commodo dolor. Nullam elementum, tellus at euismod vehicula, sapien risus aliquet tortor, sed ultrices nisl nulla ac dolor. Mauris imperdiet, libero vitae viverra vulputate, sapien neque euismod neque, quis tincidunt mi tellus quis est. Praesent nibh turpis, egestas bibendum sodales vitae, imperdiet sed nisi. Duis ultrices ut quam vitae volutpat. Nunc iaculis dignissim lacus, id aliquam arcu euismod eu. Nam pellentesque diam at augue iaculis, eget fermentum dolor pellentesque. Curabitur ultricies pretium nisi, finibus mollis mauris iaculis ac. Proin dolor ipsum, aliquam a tortor non, lacinia egestas risus.</p>
    </div>
  </div>
{% endblock %}
