{% extends 'base.html.twig' %}

{% block title %}
    Statuts
{% endblock %}

{% block section %}
<div class="wrapper">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Les statuts de l'association</div>
                <div class="panel-body">
                    <div class="container">
    <p>
        <a href="{{ app.request.basePath }}/../archives/STATUTS_ DÉCLARATION_MG-FB.doc" download >Telecharger le .doc</a>
    </p>
</div></div></div></div></div></div>
{% endblock %}
