{% extends 'base.html.twig' %}

{% block title %}
    Statuts
{% endblock %}

{% block section %}
<<<<<<< HEAD
    <div class="panel panel-default block-mentions">
           <div class="panel-heading">
                <h2>Les statuts de l'association</h2>
                </div>

            <div class="content-mentions">
    <p>
        <a href="{{ app.request.basePath }}/../archives/STATUTS_ DÉCLARATION_MG-FB.doc" download >Telecharger le .doc</a>
    </p>
</div></div>

{% endblock %}
