{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block section %}
    <div class="bg"></div>

    <div class="row">
      <div class="col-md-12">
         <div class="col-md-8 col-md-offset-2">
           <div class="panel">
             <div class="panel-heading">Changer le mot de passe</div>
             <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit">CHANGER</button>
                    <form method="get" action="/page2">
      <div class="buttonLink">
        <a href="{{ path("index") }}">ANNULER</a>
      </div>
</form>

                    {{ form_end(form) }}
            </div>

          </div>
        </div>
    </div>
  </div>

{% endblock %}
