{% extends 'base.html.twig' %}

{% block title %}
    Reinitialisation
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block section %}
    <h1>Entrez votre adresse mail pour reinitialiser votre mot de passe: </h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <input type="submit" value="Envoyer" />
    {{ form_end(form) }}

{% endblock %}
