{% extends 'base.html.twig' %}

{% block section %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="bg"></div>
              <div class="login-page">
                <div class="form">
                  <form action="{{ path('login') }}" method="post" class="login-form">

                    <input class="form-control" type="text" id="username" name="_username" value="{{(last_username is defined) ? last_username : ""}}" placeholder="Nom d'utilisateur"/>

                    <input class="form-control"  type="password" id="password" name="_password" placeholder="Mot de passe"/>

                    <button type="submit">Se connecter</button>
                  </form>
                </div>
              </div>

{% endblock %}
