{% extends 'base.html.twig' %}

{% block title %}
    Création d'un article
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Documentation pour les articles :</div>
                <div class="panel-body">

                    <div class="bloc">
                        <div class="blocGauche">
                            <img src="{{ asset('doc/articleNew.png') }}" alt ="Creation d'un article"/>
                        </div>
                        <div class="blocDroite">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Creation</div>
                                        <div class="panel-body">

                            <p>Le champ <strong>Auteur</strong> definit la personne a qui appartiendra l'article.</p>

                            <p>
                                La date de création est <strong>automatiquement</strong> définie à la date du jour si inchangée.
                            </p>
                            <p>
                                Le titre de l'article
                            </p>
                            <p>
                                Ici un editeur de texte complet, qui vous permet d'editer comme sur Word par exemple.
                                 Une documentation plus fournie est accessible ici : <a href="#">CKEditor</a>.
                            </p></br>
                            <p>
                               La date de publication peut etre <strong>définie à l'avance</strong>, l'article ne sera visible sur le site qu'au moment
                                ou la date est <strong>passée</strong>.
                            </p>
                            <p>
                               Choisissez une image à afficher avec l'article. Celle ci sera directement placée
                                dans un dossier du serveur, et stocké sous cette forme :
                                *<strong>Article_Jour_Mois_Année/
                                Heure_Minutes_Secondes_file_NomDuFichier</strong>*</br>
                                Si aucun fichier n'est specifié, l'image sera celle par defaut, située dans
                                web/public/img/default.jpg
                            </p>
                            <p>
                                Vous pouvez choisir parmi la liste de <strong>mot-clés suivants</strong>, afin de permettre une <strong>recherche</strong> rapide par la suite.
                            </p>
                </div></div></div></div>

                        </div>

                    </div>




                    </div></div></div></div>

{% endblock %}
{%  block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/CSS/doc.css') }}"
{% endblock %}