{% extends 'base.html.twig' %}

{% block title %}
    Création d'utilisateurs
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Documentation pour les utilisateurs :</div>
                <div class="panel-body">

                    <div class="bloc">
                        <div class="blocGauche">
                            <img src="{{ asset('doc/userNew.png') }}" alt ="Creation d'un utilisateur"/>
                        </div>
                        <div class="blocDroite">
                            <h4>Vous devez renseigner les champs suivants :</h4>
                                </br></br>

                            <p>Le nom d'utilisateur sera utilisé pour la connexion,
                            tout comme le mail qui sont tout deux uniques.</p></br></br>

                            <p>Le champ role correspond aux permissions dont sera investi
                            votre utilisateur.</p>

                            <p>Le role <strong>Admin</strong> est le votre, il donne tous les droits.</p>
                            <p>Le role <strong>Presse</strong> donne accès a la section <strong>Annuaire</strong> qui permet de contacter rapidement
                            par mail toutes personnes possedant le role <strong>Presse</strong>.</p>
                            <p>Le role <strong>Utilisateur</strong> quant à lui correspond au role classique, donnant accès notament
                            au forum.</p>
                            <p>
                                <strong>La suite des champs a été enlevé, ils ne nécessitent pas d'explications.</strong>
                            </p>
                            <p>
                                Le champ <strong>Email</strong> doit etre <strong>unique</strong> pour chaque utilisateur.
                            </p>
                            <p>
                                La case <strong>Newsletter</strong> est a cocher si la personne souhaite être inscrite sur la <strong>liste
                                de diffusion</strong> de la newsletter.
                            </p>
                            <p>
                               Vous pouvez ensuite valider l'inscription en cliquant sur le bouton *Ajouter un utilisateur*.
                            </p>

                        </div>

                    </div>




                    </div></div></div></div>

{% endblock %}
{%  block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/CSS/doc.css') }}"
{% endblock %}