{% extends 'base.html.twig' %}

{% block section %}
    <h1>Création d'un post</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="javascript:history.go(-1)">Annuler</a>
        </li>
    </ul>
{% endblock %}
