<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}
            
            Bienvenue !
            
            {% endblock %}</title>
        
        <link href="{{ asset('Public/CSS/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        
        {% block stylesheets %}
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block nav %}{% endblock %}
        {% block section %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
