{% extends 'base.html.twig' %}

{% block title %}
    Créer un topic
{% endblock %}

{% block section %}
    <h1>Création de Topic</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="javascript:history.go(-1)">Annuler</a>
        </li>
    </ul>
{% endblock %}
