{% extends 'base.html.twig' %}

{% block title %}
    Créer un forum
{% endblock %}

{% block section %}
<div class='contener'>
  <div class="panel panel-default edit-forum">
    <div class="panel-heading">
      <h3>Création de forum</h3>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-default"/>
    {{ form_end(form) }}

    <a href="{{ path('forum_index') }}" class="btn btn-default">Retour</a>
  </div>
</div>
{% endblock %}
