{% extends 'base.html.twig' %}

{% block section %}
    <h1>newsletter - destinataires</h1>
<div class="container">

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>personnes</th>
                <th>status</th>
             </tr>
        </thead>
        <tbody>
        {% for check in checked %}
            <tr>
                <td>{{ check }}</td>
                <td><img src="{{ asset('public/img/check.png') }}"/></td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a href="{{ path('newsletter_index') }}">retour à la liste</a>
        </li>
    </ul>
{% endblock %}
