.nav
{
    display: flex;
    flex-flow: row nowrap;
}
.onhover
{
    display:flex;
    flex-flow: column nowrap;
}

#user div
{
    width:400px;
}
body
{
    margin-left: 30px;
}
.top-div
{
    display: flex;
    flex-flow:row nowrap;
    max-height: 100px;
}
.logo
{
   height:100px;
   width:30%;

   background: url(../img/wip_ehs.png) no-repeat center top;
   background-size: 250px 100px;
}
.login
{
    width:400px;
    text-align:center;
    background: #222;
    color:white;
    height:100px;
}
.login li
{
    list-style: none;
    text-align:center;
    color: #fff;
}
ul.topnav {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;
    width: 920px;
    height:100px;
    background: #ff7a00;
    font-size: 1.2em;

}
ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li a:hover{

}
ul.topnav li span { /*--Drop down trigger styles--*/
    width: 30px;
    height: 30px;
    float: left;
    background: url(img/background.gif) no-repeat center top;
    background-size: 30px 30px;
    z-index:1;

}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 35px;
    background: #ac0bf7;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 170px;
    border: 1px solid #111;
}
ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    border-top: 1px solid #252525; /*--Create bevel effect--*/
    border-bottom: 1px solid #444; /*--Create bevel effect--*/
    clear: both;
    width: 170px;
}
html ul.topnav li ul.subnav li a {
    float: left;
    width: 145px;
    background: #00dfb7  no-repeat 10px center;
    padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
    background: #73ba00  no-repeat 10px center;
}
