@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');
html{
    height:100%;
}

body{
    height:100%;
    margin-top: 120px;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    background-color: #f4f4f4;


}

body a:link{
    color: #0AC375;
}

body a:visited{
    color: #BF37B4;
}
.carousel {
    margin-top: -120px;
    height: 60%;
}

.carousel-caption {
    margin-bottom: 50px;
}


.carousel a{
    font-size: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.carousel a:hover{
    color: #09ec49;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.carousel a:visited{
    color: #fff;
}


.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

hr{
    border-color: #cccccc;
}

button{
    border-style: none;
    background-color: #0AC375;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

button:hover{
    background-color: #0cf090;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.buttonLink{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.buttonLink a{
    background-color: #0AC375;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.buttonLink a:hover{
    background-color: #0cf090;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.buttonLink a:visited{
    color: #fff;
}



.tagbox-link{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.tagbox-link:hover{
    background-color: #ebc413;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tagbox-link:visited{
    color: #fff;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 30px;
    right: 30px;
    display: none;
    border-width: 5px;
    border-color: #0AC375;
}

.back-to-top:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #fff;
}

.back-to-top a{
    color: #fff;
}

.text-center{
    color: #333333;
    text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.8);
}

h1.text-center{
    font-size: 50px;
}



.hovereffect {
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ae7be3 0%, #a8de65 100%);
    background: linear-gradient(45deg, #ae7be3 0%,#a8de65 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 15px 0 rgba(0, 0, 0, 0.3);
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3em;
    text-align: left;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    height: 250px;
    opacity: 0.5;
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);

}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 22px;
    background-color: transparent;
    padding: 15% 0 10px 0;
    text-align: left;
}

.hovereffect .overlay:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);

}

.hovereffect a, .hovereffect p {
    color: #FFF;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}

.hovereffect a:visited{
    color: #FFF;
}

.hovereffect:hover img {
    opacity: 0.2;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}




.panel{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    color:#777;
    border-style: none;
}




.panel-body-start{
    background-size:  cover;
    font-size: 25px;
    font-weight: lighter;
    color: #FFFFFF;
    padding: 5px;
    width:auto;
    height:200px;
    border-radius: 3px;
}
.tile-overlay{
    width: auto;
    height:200px;
    margin: 0px;
    padding: 5px;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,rgba(#25c397, 0.57),rgba(#7ec725, 0.57));
    opacity: .6;
}

.panel-body-start a{

    color: #FFFFFF;
}

.panel-body-start a:visited{

    color: #FFFFFF;
}

.panel-body-start a:hover{

    color: #FFFFFF;
}

.panel .panel-heading{
    font-size: 25px;
    font-weight: lighter;
    background-color: #98d44e;
    color: #FFFFFF;
    padding: 5px;
}

.panel .panel-heading a{
    color: #ffffff;
    font-weight: lighter;
    font-size: 25px;
    margin-left: 15px;
}

.panel .panel-heading a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

/*
 * Custom styles
 */

.navbar{
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(right, #8ce91a 0%, , #43c6be 50%, #9d43f9 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #8ce91a 0%, #43c6be 50%, #9d43f9 100%);
    border-image: linear-gradient(to right, #8ce91a 0%, #43c6be 50%, #9d43f9 100%);
    border-image-slice: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
}

.navbar li a{
    color: #858585
}

.navbar li a:hover{
    color: #fff;
    font-weight: bold;
    background-color: #98d44e;
    transition: 0.2s;
    -webkit-transition:  0.2s;
}

.navbar-brand{
    padding: 0px;
    margin: 0px;
}
.navbar-brand img
{
    margin-top: -12px;
    margin-right: 20px;
    width:140px;
}
.navbar-brand.fixed-theme img
{
    margin-top: 0px;
    margin-right: 65px;
    width:95px;
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.icon-bar{

    background-color: rgb(55, 4, 60);
}


.navbar-container {
    padding: 20px 0 20px 0;
}


.navbar.navbar-fixed-top.fixed-theme {
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(right, #8ce91a 0%, , #43c6be 50%, #9d43f9 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #8ce91a 0%, #43c6be 50%, #9d43f9 100%);
    border-image: linear-gradient(to right, #8ce91a 0%, #43c6be 50%, #9d43f9 100%);
    border-image-slice: 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}



.navbar-container.fixed-theme {
    padding: 0px;
}

.navbar-container.fixed-theme li a{
    color: #626262;
}

.navbar-container.fixed-theme li a:hover{
    color: #fff;
    background-color: #0AC375;
    transition: 0.2s;
    -webkit-transition:  0.2s;
}


.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}





.bg {
    background: url(../img/handicap.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;

}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}


.tagbox{
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 5px;
}

.tagbox:hover{
    background-color: #ebc413;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.onhover
{
    display:flex;
    flex-flow: column nowrap;
}

#user div
{
    width:400px;
}

.top-div
{
    width: 100%;
}


.logo.fixed-theme a img{
    width:80px;
}


.dropdown-menu{
    border-style: none;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0px;
}

.dropdown-menu li a{
    height: 50px;
    line-height: 45px;
}

.dropdown-menu > li > a:hover{
    background-color: #80577c;
    color: #fff;
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


section {
    width:94%;
    margin:0 auto;
    height:100%;
    color:#fff;
}

section .row{
    margin: 20px;
}

thead{
    background-color: #80577c;
    color: #fff;
}

a:link, a:visited {
    color:#eee;
}

.newuser-page {
    width: 450px;
    padding: 8% 0 0;
}

/*BLOC CONNEXION*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0AC375;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #0cf090;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

/*FORUM*/
.content-forum{

  display:block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*MENTIONS LEGALES*/
.block-mentions{
  display:block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
  }


.content-mentions{
  padding: 0 1% 1% 1%;
}


/*FOOTER*/
.wrapper {
    min-height: 70%;
    height: auto;
    height: 70%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer-container{
    padding: 0px;

}

.footer-distributed{
    background-color: rgba(240, 240, 240, 1);
    border-top: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(right, #8ce91a 0%, , #43c6be 50%, #9d43f9 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #8ce91a 0%, #43c6be 50%, #9d43f9 100%);
    border-image: linear-gradient(to right, #8ce91a 0%, #43c6be 50%, #9d43f9 100%);
    border-image-slice: 1;
    background: rgb(181,181,181); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(181,181,181,1) 0%, rgba(240, 240, 240, 1) 5%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(240, 240, 240, 1) 5%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(181,181,181,1) 0%,rgba(240, 240, 240, 1) 5%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 16px sans-serif;
    padding: 55px 50px;
    margin-top: 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #333;
    margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #333;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #333;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #9d43f9;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #333;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #333;
    text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #777;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #777;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #98d44e;
    border-radius: 2px;

    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}
.annuaireLink a:hover{
    color:#98d44e;
}
.annuaireLink a:visited{
    color:#98d44e;
}
.annuaireLink a{
    color:#98d44e;
}